*{
    box-sizing: border-box;
}

.body{
    margin: 0;
    padding: 0;
}

.center{
    justify-content: center;
    align-items: center;
}

.nav-link{
    text-decoration: none !important;
    color: white;
}

.nav-link:hover{
    color: burlywood;
}

